body {
  background: linear-gradient(purple, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App{
  box-sizing: border-box;
  text-align: left;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.bootyapp {
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  background: linear-gradient(purple, yellow);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bootycard {
  margin: 2%;
  padding: 2%;
  min-height: 30vh;
  max-height: 40vh;
}
.bootycardheader {
  margin-top: 2%;
  font-weight: 700;
  font-size: 1.2em;
}

.searchfield {
  margin-left: 10%;
  margin-right: 10%;
}

.bootyslider {
  margin: 15%;
  max-width: 60vw;
}

.bootyheader {
  color: white;
  margin-top: 10%;
  font-weight: 700;
}
.bootynavheader {
  color: white;
  margin-top: 10%;
  font-weight: 900;
}

.bootyheart {
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@keyframes heartbeat {
  from {
        transform: scale(1, 1);
        color: white;  
      }
  to {transform: scale(0.7, 0.7); 
      color: white; 
  }
}